<nav class="navbar navbar-expand-md bg-body-light sticky-top border-bottom">
  <div class="container-fluid">
    <!-- Left: Brand -->
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-house-chimney"></i>
    </a>
         <a class="nav-link mt-2 me-0 me-lg-3" aria-current="page" href="/">Home</a>
          <a class="nav-link mt-2 me-0 me-lg-3" href="/listings">All Listings</a>
          <a class="nav-link mt-2 me-0 me-lg-3" href="/listings/new">New Listings</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav text-end">
        <div class="navbar-nav text-end">
          
        </div>
        <% if (!user) { %>
        <!-- When user is not logged in -->
        <a class="nav-link mt-3" href="/login">Login</a>
        <a class="nav-link mt-3" href="/signup">Sign Up</a>
        <% } else { %>
        <!-- When user is logged in -->
        <span class="nav-link mt-3 text-success fw-semibold">
          Hi, <%= user.username %> 👋
        </span>
        <a class="nav-link mt-3" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
