<%layout("./layouts/boilerplate.ejs")%>
<body>
    <form action="/listings/new" method="post">
        <input type="text" placeholder="Title" name="title" >
        <input type="text" placeholder="Location" name="location" >
        <input type="text" placeholder="Country" name="country" >
        <input type="number" placeholder="Price" name="price" >
        <button type="submit">Create Listing</button>
    </form>
</body>
