<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateListing</title>
</head>
<body>
    <form action="/listings/new" method="post">
        <input type="text" placeholder="Title" name="title" >
        <input type="text" placeholder="Location" name="location" >
        <input type="text" placeholder="Country" name="country" >
        <input type="number" placeholder="Price" name="price" >
        <button type="submit">Create Listing</button>
    </form>
</body>
</html>