*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: "Inter",sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    min-height: 100vh;
    overflow-x: hidden;
    text-align: left;
}

 
.navbar {
    height: 4.5rem;
    background-color: white;
}



.fa-house-chimney{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color :#222222;
}

.f-info-links a  :hover {
   text-decoration: underline;
}

.f-info-links{
    width: 100%;
}
.f-info-socials{
    width: 100%;
    font-size: 1.2rem;
    margin-right: 2rem;
}
.f-info{
    min-height: 8rem;
    width: 100%;
    text-align: center;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer.footer{

    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 5px;
}

.row{
    margin-top: 5px;
    justify-content: flex-start;
}
.card {
    min-height: 20rem;
    width: 20rem;
    border:  none;
    margin: 2rem 2rem 2rem 0;
    border-radius: 6px;
}
.card-img-top {
    
    max-height: 15rem;
    border-start-start-radius: 6px !important;
    width: 100% !important;
    object-fit: cover;


}

.card-body{
    padding:5px !important;
}

.card-text{
    font-weight: 600px !important;
    font-size: 1rem;
    text-align: left;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay  :hover {
    opacity: 0.5;
}

.btn{
    background-color: #fe424d !important;
    border: none !important;
}
.edit, .delete{
    text-align: left;
    align-self: start;
    align-items: self-start;
}
.showCard{
    
    height: 30vh;
    width: 50vw;
    object-fit: cover;
}
.showImage{
    height: 40vh;
    width: 20vw;
    object-fit: cover;
}

.showText{
    font-weight: 600px !important;
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem;
}
.showbtn{
    background-color: #fe424d !important;
    border: none !important;
    border-radius: 5px ;
    display: inline-block;
    text-align: left;
    margin: 1rem;
}